<!-- <div class="wrapper">
  <ul nz-menu nzMode="inline" nzTheme="dark">
    <li nz-menu-item >
      <i nz-icon nzType="mail"></i>
      <span>Menu Quản Lí</span>
    </li>
    <li nz-submenu nzTitle="Quản Lí Các Cấp" nzIcon="appstore">
      <ul>
        <li nz-menu-item><a routerLink="thanhpho">Quản lí thành phố</a></li>
        <li nz-menu-item><a routerLink="quanhuyen">Quản lí Quận Huyện</a></li>
        <li nz-menu-item><a routerLink="xaphuong">Quản lí Xã Phường</a></li>  
        <li nz-menu-item><a routerLink="baocao">Báo Cáo</a></li>      
      </ul>
    </li>
  </ul>
</div> -->

<nz-layout>
  <!-- <nz-header>Header</nz-header>  -->
  <nz-layout>
    <nz-sider>
      <app-slider></app-slider>
      
    </nz-sider>
    <!-- <nz-content><app-conten></app-conten></nz-content> -->
  </nz-layout>

</nz-layout>
<router-outlet></router-outlet>